<!DOCTYPE html>
                    </div>
                </div>
                <div class="menu-container">
                    <div class="menu-button">
                        <a href="/admin/adminHome"><button>홈</button></a>
                        <a href="/admin/allMember?reqPage=1"><button>회원관리</button></a>
                        <a href="/report/reportList?reqPage=1"><button>고객센터</button></a>
                        <a href="/admin/adminProductList?reqPage=1"><button>상품관리</button></a>
                        <a href="#"><button>매출관리</button></a>
                        <a href="#"><button>-</button></a>
                        <a href="#"><button>-</button></a>
                        <a href="#"><button>-</button></a>
                        <a href="#"><button>-</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>