<!DOCTYPE html>
</div>
</div>
<div class="menu-container">
	<div class="menu-button">
		<a href="#"><button>홈</button></a>
		<a href="/board/list?reqPage=1"><button>자유게시판</button></a>
		<a href="/photo/list"><button>사진첩</button></a>
		<a href="#"><button>방명록</button></a>
		<a href="/product/acornProduct"><button>선물가게</button></a>
		<a href="/product/buyProductList?reqPage=1&type=0"><button>구매목록</button></a>
		<a href="#"><button>일촌관리</button></a>
		<a href="/customer/customerList?reqPage=1"><button>고객센터</button></a>
		<a href="#"><button>즐겨찾기</button></a>
		<a href="/product/buyProductList?reqPage=1&type=0&product=구매"><button>구매목록</button></a>
		<a href="#"><button>일촌관리</button></a> <a
			href="/customer/customerList?reqPage=1"><button>고객센터</button></a> <a
			href="#"><button>즐겨찾기</button></a>
	</div>
</div>
</div>
</div>
</div>