<!DOCTYPE html>
</div>
</div>
<div class="menu-container">
	<div class="menu-button">
		<a href="/member/memberPage"><button>홈</button></a>
		<a href="/board/list?reqPage=1"><button>자유게시판</button></a>
		<a href="/photo/list"><button>사진첩</button></a> 
		<form action="/guest/guestbookList" method="get" enctype="multipart/form-data">
			<input type="hidden" id = "memberNo" name="memberNo" th:value = "${session.member.memberNo}">
			<div class="guestBookList">
				<a href="/guest/guestbookList"><button>방명록</button></a>			
			</div>
		</form>
		<a href="/product/acornProduct"><button>선물가게</button></a>
		<a href="/product/buyProductList?reqPage=1&type=0&product=구매"><button>내 상품</button></a>
		<form action="/friend/friendList" method="get" enctype="multipart/form-data">
			<input type="hidden" id = "memberNo" name="memberNo" th:value = "${session.member.memberNo}">
			<div class="friendList">
				<a href="/friend/friendList"><button>일촌목록</button></a>			
			</div>
		</form>
		<a href="/customer/customerList?reqPage=1"><button>고객센터</button></a>
		<a href="/board/bookmark/list?reqPage=1"><button>즐겨찾기</button></a>
	    

	</div>
</div>
</div>
</div>
</div>