<!DOCTYPE html>
<body>
    <footer class="footer">
        <div>
            <ul>
                <li><a href="/etc/companyInfo">회사소개</a></li>
                <li><a href="/etc/proposalGuide">제휴제안</a></li>
                <li><a href="/etc/policy">이용약관</a></li>
                <li><a href="/etc/privacy" class="bold-text">개인정보처리방침</a></li>
                <li><a href="/etc/youthPolicy">청소년보호정책</a></li>
                <li class="bolder-text">
                    <img src="/image/icon-park-outline--handle-c.png" width="21px" height="21px"
                        alt="Company Logo">
                    INSIDEMIRROR Corp.
                </li>
            </ul>
        </div>
    </footer>
</body>
