<!DOCTYPE html>


	<link rel="stylesheet"
	href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/minihomepage.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/font.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">

<style>
  .profile-text> textarea{
 	width: 100%;
    height: 100px;  
    border: none;
    resize: none;
    padding: 0;
    overflow: hidden;
 }
 .profile-image-area{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
 .profile-image-img{
 	width: 200px;
 	height: 200px;
 	border-radius: 15px;
 }
 .follow-btn{
 	display: flex;
 	justify-content: center;
 	align-content: center;
 	padding-bottom: 5px;
 }
 .profile-btn-area{
 	visibility: hidden;
 }
</style>
<th:block th:include="/common/header"></th:block>
<div class="bookcover">
	<div class="bookdot">
		<div class="page">
			<div class="profile-container">
				<div class="header1 profile-title">
					TOTAL <span class="color-red" th:text="${friendMember.totalCount}"></span>
				</div>
				<div class="box profile-box">
					<form action="/member/memberPage" method="post" enctype="multipart/form-data">
					<div class="profile-image">
						<img class="profile-image-img" th:src="@{/member/}+${friendMember.profilePhoto}" alt="프로필 이미지">
					</div>
					</form>
					<div class="profile-text">
							<textarea id="profileContent" name="profileContent" th:text="${friendMember.profileMsg}"
								readonly></textarea>
					</div>
					<div class="profile-username">
						<span style="color: #0f1b5c" th:text="${friendMember.memberName}"></span>(♪♬)
					</div>
					<div class="follow-btn-content">
						<form action="/friend" method="post">
							<div class="follow-btn">
							<button type="button" onclick="friendRequest()">일촌하기</button>
							</div>
						</form>	
					</div>
				</div>
			</div>
			<div class="content-container">
				<div class="header1 content-title">
					<div class="content-title-name" th:text="${friendMember.memberName}+님의홈피"></div>
				</div>
				<div class="box content-box">
<script th:inline="javascript">
	const cover = [[${spCss[0].sellProduct.productUrl}]];
	const cursor = [[${spCss[1].sellProduct.productUrl}]];
	const font = [[${spCss[2].sellProduct.productUrl}]];
	console.log(cover);
	console.log(cursor);
	console.log(font);
	$(function(){
    	$("body").css("font-family",font);
    	$("body").css("cursor",cursor);
    	$(".bookcover").css("background-color",cover);
 	});

	function friendRequest(){
		const friendNo = [[${friendMember.memberNo}]];
		const friendNickName = [[${friendMember.memberNickName}]];
		
		
		location.href="/friend/friendRequest?friendMemberNo="+friendNo+"&friendNickName="+friendNickName;
		
		
		
		
	}
	
	
	</script>
				
				