<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>

<body>
    <header class="header">
        <div class="left-group">
            <div class="logo">
                <a href="/">IM</a>
            </div>
            <nav class="nav">
                <ul>
                    <li class="li"><a href="#">미니홈피</a></li>
                </ul>
            </nav>
        </div>
        <div class="right-group">
            <ul class="user-menu">
                <li class="li"><a href="#">비회원</a></li>
                <li class="li"><a href="/member/login">로그인</a></li>
            </ul>
        </div>
    </header>
</body>
</html>

