<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minihomepage</title>
    <link rel="stylesheet" href="/css/minihomepage.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/font.css">
</head>

<body>
    <th:block th:include="common/top"></th:block>
                        <div class="box-title">Updated news ></div>
                        <div class="news-flex-box">
                            <div class="news-box">
                                <div class="news-row">
                                    <div class="news-category category-pic">사진첩</div>
                                    <div class="news-title">일상...♥</div>
                                </div>
                                <div class="news-row">
                                    <div class="news-category category-post">게시판</div>
                                    <div class="news-title">살려줘...♥</div>
                                </div>
                                <div class="news-row">
                                    <div class="news-category category-pic">사진첩</div>
                                    <div class="news-title">살려줘...ㅠ</div>
                                </div>
                                <div class="news-row">
                                    <div class="news-category category-post">게시판</div>
                                    <div class="news-title">일상...♥</div>
                                </div>
                            </div>
                        </div>
                        <div class="picture-room">
                            <div class="box-title">추억이 방울방울 ></div>
                            <div class="slide-image">
                                <img src="#">
                            </div>
                        </div>
                <th:block th:include="common/bottom"></th:block>
</body>

</html>