<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>관리자 메인 홈피</title>
</head>
<body>

<th:block th:include="common/top"></th:block>
	
						<div class="box-title">회원 관리 ></div>
						<div class="news-flex-box">

							<table class="tbl tbl-hover">
								<tr>
									<th style="width: 5%">번호</th>
									<th style="width: 10%">이름</th>
									<th style="width: 10%">닉네임</th>
									<th style="width: 15%">아이디/이메일</th>
									<th style="width: 5%">성별</th>
									<th style="width: 15%">전화번호</th>
									<th style="width: 20%">주소</th>
									<th style="width: 10%">등급</th>
									<th style="width: 10%">회원가입일</th>
								</tr>

								<tr>
									<td th:text="${m.memberNo}"></td>
									<td th:text="${m.memberName}"></td>
									<td th:text="${m.memberNickname}"></td>
									<td th:text="${m.memberId}"></td>
									<td th:text="${m.memberGender}"></td>
									<td th:text="${m.memberPhone}"></td>
									<td th:text="${m.memberAddr}"></td>
									<td th:text="${m.memberLevel}"></td>
									<td th:text="${m.enrollDate}"></td>
								</tr>
							</table>
						</div>

						<div class="picture-room">
							<div class="box-title">고객 센터 ></div>
							<div class="news-flex-box">

								<table class="tbl tbl-hover">
									<tr>
										<th style="width: 5%">번호</th>
										<th style="width: 30%">제목</th>
										<th style="width: 25%">닉네임</th>
										<th style="width: 25%">신고일자</th>
										<th style="width: 15%">건의/환불</th>
									</tr>
									
									<tr>
										<td th:text="${r.reportNo}"></td>
										<td th:text="${r.reportContent}"></td>
										<td th:text="${r.memberNo}"></td>
										<td th:text="${r.reportDate"></td>
										<td th:text="${r.reportNo}"></td>
									</tr>
									
								</table>
							</div>
						</div>

						<div class="picture-room">
							<div class="box-title">상품 관리 ></div>
							<div class="product-img">
								<div class="img-box">
									<img src="image/선물가게_배경1.png"> <a href="#">관리하기 ></a>
								</div>
								<div class="img-box">
									<img src="image/선물가게_배경2.png"> <a href="#">관리하기 ></a>
								</div>
								<div class="img-box">
									<img src="image/선물가게_배경3.png"> <a href="#">관리하기 ></a>
								</div>
							</div>
						</div>
					</div>
				</div>
	
	<th:block th:include="common/adminBottom"></th:block>
</body>

</html>