<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원 관리</title>
</head>
<body>
	<th:block th:include="common/top"></th:block>

	<div class="box-title">회원 관리 ></div>
	<div class="news-flex-box">

		<table>
			<tr>
				<th style="width: 5%">번호</th>
				<th style="width: 10%">이름</th>
				<th style="width: 10%">닉네임</th>
				<th style="width: 15%">아이디/이메일</th>
				<th style="width: 5%">성별</th>
				<th style="width: 15%">전화번호</th>
				<th style="width: 20%">주소</th>
				<th style="width: 10%">등급</th>
				<th style="width: 10%">회원가입일</th>
			</tr>

			<tr th:each="m : ${member}" onclick="memberView([[${m.memberNo}]])">
				<td th:text="${m.memberNo}"></td>
				<td>
				<a
				th:href="@{/admin/memberView(memberNo=${m.memberNo})}"
				th:text="${m.memberName}">
				</a>
				</td>
				<td th:text="${m.memberNickname}"></td>
				<td th:text="${m.memberId}"></td>
				<td th:text="${m.memberGender}"></td>
				<td th:text="${m.memberPhone}"></td>
				<td th:text="${m.memberAddr}"></td>
				<td th:text="${m.memberLevel}"></td>
				<td th:text="${m.enrollDate}"></td>
			</tr>
		</table>

	</div>

	<div class="pageNavi" th:utext="${pageNavi}"></div>
	</div>
	</div>
	<th:block th:include="common/adminBottom"></th:block>
</body>

</html>