<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemberView</title>
    <link rel="stylesheet" href="static/css/minihomepage.css">
    <link rel="stylesheet" href="static/css/layout.css">
    <link rel="stylesheet" href="static/css/font.css">
</head>

<body>
    <div class="bookcover">
        <div class="bookdot">
            <div class="page">
                <div class="profile-container">
                    <div class="header profile-title">TOTAL
                        <span class="color-red">28</span>
                    </div>
                    <div class="box profile-box">
                        <div class="profile-image">
                            <img class="profile-image-img" src="image/아바타.png" alt="프로필 이미지">
                        </div>
                        <div class="profile-text">관리자</div>
                        <div class="profile-username">
                            <span style="color: #0f1b5c">채연</span>
                           	 (♪♬)
                        </div>
                        <div class="profile-dropdown">
                            <div class="dropdown-button">
                                <div class="dropdown-title">일촌 파도타기</div>
                                <div class="triangle-down"></div>
                            </div>
                            <div class="dropdown-content">
                                <a href="#">ㅁㅁㅁ의 홈피</a>
                                <a href="#">ㅁㅁㅁ의 홈피</a>
                                <a href="#">ㅁㅁㅁ의 홈피</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-container">
                    <div class="header content-title">
                        <div class="content-title-name">관리자님의 홈피</div>
                    </div>
                    <div class="box content-box">
                        <div class="box-title">회원 관리 ></div>
                        <div class="news-flex-box">
                            <div class="box profile-box">
                                <div class="profile-image-view">
                                    <img class="profile-image-img" src="image/아바타.png" alt="프로필 이미지">
                                </div>

                                <table>
                                    <tr>
                                        <th>번호</th>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th>이름</th>
                                        <td>name1</td>
                                    </tr>
                                    <tr>
                                        <th>닉네임</th>
                                        <td>user01</td>
                                    </tr>
                                    <tr>
                                        <th>아이디/이메일</th>
                                        <td>user01@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th>성별</th>
                                        <td>여</td>
                                    </tr>
                                    <tr>
                                        <th>전화번호</th>
                                        <td>010-1111-1111</td>
                                    </tr>
                                    <tr>
                                        <th>주소</th>
                                        <td>서울특별시 영등포구</td>
                                    </tr>
                                    <tr>
                                        <th>등급</th>
                                        <td>관리자</td>
                                    </tr>
                                    <tr>
                                        <th>회원가입일</th>
                                        <td>2024-08-01</td>
                                    </tr>
                                </table>

                            </div>
                           
                            

                        </div>
                        
                    </div>
                </div>


                <div class="menu-container">
                    <div class="menu-button">
                        <a href="#"><button>홈</button></a>
                        <a href="#"><button>회원관리</button></a>
                        <a href="#"><button>고객센터</button></a>
                        <a href="#"><button>상품관리</button></a>
                        <a href="#"><button>매출관리</button></a>
                        <a href="#"><button>--</button></a>
                        <a href="#"><button>--</button></a>
                        <a href="#"><button>--</button></a>
                        <a href="#"><button>--</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>