<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원 상세보기</title>
</head>
<body>
	<th:block th:include="common/adminTop"></th:block>

	<div class="box-title">회원 관리 ></div>

		<div class="box profile-box">
			<div class="profile-image-view">
				<img class="profile-image-img" src="image/아바타.png" alt="프로필 이미지">
			</div>

			<table>
				<tr>
					<th>번호</th>
					<td th:text="${m.memberNo}"></td>
				</tr>
				<tr>
					<th>이름</th>
					<td th:text="${m.memberName}"></td>
				</tr>
				<tr>
					<th>닉네임</th>
					<td th:text="${m.memberNickName}"></td>
				</tr>
				<tr>
					<th>아이디/이메일</th>
					<td th:text="${m.memberId}"></td>
				</tr>
				<tr>
					<th>성별</th>
					<td th:text="${m.memberGender}"></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td th:text="${m.memberPhone}"></td>
				</tr>
				<tr>
					<th>주소</th>
					<td th:text="${m.memberAddr}"></td>
				</tr>
				<tr>
					<th>등급</th>
					<td th:switch="${m.memberLevel}">
						<span th:case="1">관리자</span>
						<span th:case="2">정회원</span>
					</td>
				</tr>
				<tr>
					<th>회원가입일</th>
					<td th:text="${m.enrollDate}"></td>
				</tr>
			</table>
		</div>
	

	<th:block th:include="common/adminBottom"></th:block>
</body>

</html>