<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원 상세보기</title>
</head>
<body>
	<th:block th:include="common/top"></th:block>

	<div class="box-title">회원 관리 ></div>
	<div class="news-flex-box">
		<div class="box profile-box">
			<div class="profile-image-view">
				<img class="profile-image-img" src="image/아바타.png" alt="프로필 이미지">
			</div>

			<table>
				<tr>
					<th>번호</th>
					<td>1</td>
				</tr>
				<tr>
					<th>이름</th>
					<td>name1</td>
				</tr>
				<tr>
					<th>닉네임</th>
					<td>user01</td>
				</tr>
				<tr>
					<th>아이디/이메일</th>
					<td>user01@gmail.com</td>
				</tr>
				<tr>
					<th>성별</th>
					<td>여</td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td>010-1111-1111</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>서울특별시 영등포구</td>
				</tr>
				<tr>
					<th>등급</th>
					<td>관리자</td>
				</tr>
				<tr>
					<th>회원가입일</th>
					<td>2024-08-01</td>
				</tr>
			</table>
		</div>
	</div>
	</div>
	</div>
	<th:block th:include="common/adminBottom"></th:block>
</body>

</html>