<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>일촌목록</title>
<link rel="stylesheet" href="/css/font.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script src="/js/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<style>
.material-icons {
	float: left;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-right: 50px;
}

.friend-header {
	border-bottom: 1px solid gray;
	padding: 20px;
	margin-bottom: 15px;
}

.btn-cancel {
	float: right;
}

.search-group {
	margin-bottom: 50px;
}

.input#searchInput {
	margin-left: 50px;
}

.btn-secondary {
	float: right;
}

.friend-scrollbox {
	max-height: 450px;
	overflow-y: auto;
}
</style>
</head>
<body>
	<th:block th:include="common/top"></th:block>
	<div class="content-container">
		<div class="header1 content-title">
			<div class="content-title-name">ㅁㅁㅁ님의 홈피</div>
		</div>
		<div class="box content-box">
			<div class="box-title">일촌목록 ></div>
			<div class="friend-title">
				<div class="search-group">
					<form action="/friend/search" method="get">
						<input type="text" id="searchInput" name="findFriend">
						<button class="submit">검색</button>
					</form>
				</div>
			</div>
			<div class="friend-scrollbox" id="friend-scrollbox">
				<th:block th:each="friendList : ${friendList}">
					<div class="friend-box">
						<div class="friend-header">
							<span th:text="${friendList.friendNickName}"></span>
							<button class="material-icons" onclick="navigateToHome(this)"
								data-url="#"
								th:data-url="'/friend/home?friendNo=' + ${friendList.friendNo}">home</button>
							<button class="btn-secondary"
								th:onclick="friendCancel(this,[[${friendList.friendNo}]]);">일촌취소</button>
						</div>
					</div>
				</th:block>
			</div>
			<th:block th:include="common/bottom"></th:block>
			<script>
				function friendCancel(obj, friendNo) {

					const btn = $(obj);
					console.log(friendNo);
					$.ajax({
						type : 'GET',
						url : `/friend/friendCancel`,
						data : {
							friendNo : friendNo
						},
						success : function(response) {
							btn.parent().parent().remove();
						},
						error : function(error) {
							alter: ('삭제중 에러가 나왔습니다.')
						}
					})

					/*
					const friendheader == button.closest('.friend-header');
					const friendNo = $('#friendNo').text();
					
					if(!friendNo){
					 console.log('일촌 번호가 없습니다');
					 return;
					}
					
					$ajax({
					 type: 'GET',
					 url: `/friend/friendCancel`,
					 data : {friendNo : friendNo},
					 success : function(response){
						 friendheader.remove();
					 },
					 error : function(error){
						 alert('일촌 삭제 중 에러가 발생했습니다')
					 }
					})
					 */
				}
			</script>
</body>
</html>
