<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 중복체크</title>
<script src="/js/jquery-3.6.0.js"></script>
</head>
<body>
	<div id="check-container">
		<th:block th:if="${result == 0}">
			<div>
				<div>[<span class="valid-nickname" th:text="${memberNickname}"></span>]는 사용 가능합니다.</div>
				<button type="button" id="closeBtn">닫기</button>
			</div>
			<script>
				$("#closeBtn").on("click",fucntion(){
					const memberPwInput = $("#nickName",opener.document);
					const pw = $(".valid-nickname").text();
					memberPwInput.val(pw);
					memberPwInput.addClass("valid");
					self.close();
				})
			</script>
		</th:block>
		<th:block th:if="${result == 1}">
			<div>
				<div>[<span class="invalid-nickname" th:text="${memberNickname}"></span>]는 이미 사용중입니다.</div>
				<form action="/member/checkNickname" method="post">
					<div class="input-item">
						<input type="text" id="checkNickname" name="checkNickname" th:value="${memberNickname}">
						<button type="submit">조회</button>
					</div>
				</form>
			</div>
		</th:block>
	</div>
</body>
</html>