<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>친구 페이지</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="/css/minihomepage.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/font.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/summernote/summernote-lite.js"></script>
<script src="/summernote/lang/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/summernote/summernote-lite.css">
<script src="/js/sweetalert.min.js"></script>

</head>
<style>
.swiper{
 	width:500px;
 	height:360px;
 	
 }
 .slide-image{
 
 	
 	
 }
 .swiper-img-wrap{
 	height:300px;
 	display: flex;
 	align-items: center;
 	justify-content: center 
 }
 .slide-image .slide{
	height : 100%;
	object-fit : contain;
	}
.swiper-button-prev{
	display: none;
}
.swiper-button-next{
	display: none;
}
.swiper-scrollbar{
	display: none;
}
.news-flex-box{
	min-height: 100px;
}
.slide-image{
	margin-top: 50px;
}
</style>
<body>
	<th:block th:include="/common/friendTop"></th:block>
			<div class="box-title">Updated news ></div>
			<div class="news-flex-box">
				<div class="news-box">
					<div class="news-row" th:each="p : ${photo}">
						<div class="news-category category-pic">사진첩</div>
						<div class="news-title" th:text="${p.photoTitle}"></div>
					</div>
					<div class="news-row" th:each="b : ${board}">
						<div class="news-category category-post">게시판</div>
						<div class="news-title" th:text="${b.boardTitle}"></div>
					</div>
				</div>
			</div>
			<div>
				<div class="box-title">추억이 방울방울 ></div>
					<div class="swiper">
						<div class="swiper-wrapper slide-image" >
							<div class="swiper-slide" th:each="p : ${photo1}">
								<div class="swiper-img-wrap">
									<img class="slide" th:src="@{/photo/}+${p.photoContent}">
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
						<div class="swiper-scrollbar"></div>
					</div>					
			</div>
	<th:block th:include="/common/friendBottom"></th:block>
</body>
<script>
const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: "horizontal",
     autoplay: {
         delay : 2500
    }, 
    loop: true,    
    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },
  
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  
    

    // And if we need scrollbar


  });

</script>