<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/join.css">
</head>
<style>
body {
	background: linear-gradient(rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0.3)), url("/image/Up Pixar.gif");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}
.wrapper{
	height: 810px;
}
.valid{
	margin: 0;
	font-size: 10px;
	color: green;
}
.invalid{
	margin: 0;
	font-size: 10px;
	color: red;
}
.phone-insert{
	width: 402px;
}
#addrDetail{
	width: 400px;
}
.email-choice,#searchBtn{
	background-color: #3b87ab;
	color: white;
	border-radius: 15px;
	border:none;
}

#sendBtn,#authBtn{
	background-color: #3b87ab;
	color: white;
	border-radius: 15px;
	border:none;
}
.input-box{
	visibility: none;
}
.td-send>#sendBtn{
	margin-left: 417px;
}
.td-1{
	width: 486px;
}

</style>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<body>
	<th:block th:include="/common/header"></th:block>
	<div class="wrapper">
		<img class="handright" src="/image/backgroundhandright(2).png" alt="">
		<img class="handleft" src="/image/backgroundhandleft(2).png" alt="">
		<div class="join-all-wrap">
			<div class="join-content">
				<div class="join-info">
					<form action="/member/checkNickName" name="checkNickNameFrm" method="post">
						<input type="hidden" name="memberNickName">
					</form>
					<form action="/member/join" method="post" autocomplete="off">
						<table>
							<tr>
								<td colspan="3">
									<h3>회원 가입</h3>
								</td>
							</tr>
							<tr>
								<td><label for="emailLocal">아이디(이메일)<sup>*</sup></label></td>
								<td class="td-2 td-1">
									<input type="text" name="memberId" id="emailLocal" class="short-input" maxlength="20" required autocomplete="username"> 
									<span class="mail-center">@</span>
									<input type="text" name="memberId2" id="emailDomain" class="short-input" required autocomplete="email" readonly>
									<select class="email-choice">
										<option value="naver.com">naver</option>
										<option value="gmail.com">google</option>
									</select>
								</td>
								<td class="td-2 td-send">
									<button type="button" id="sendBtn" onclick="test();">이메일 전송</button>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td>
									<p class="email-check-msg"></p>
								</td>
							</tr>
							<tr id="auth" class="input-box">
								<td>
								</td>
								<td class="td-2">								
								<input type="password" id="authCode" placeholder="인증번호입력">
								<button type="button" id="authBtn" onchange="authFunction(this)">인증하기</button>
								</td>
								<td class="td-2">
								<span id="timeZone"></span>
								<span id="authMsg"></span>				
								<input type="hidden" >
								</td>
							</tr>
							<tr>
								<td><label for="nickName">닉네임(별명)<sup>*</sup></label></td>
								<td class="td-2"><input type="text" name="memberNickName"
									id="nickName" required aria-required="true" maxlength="20">
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="check-msg">
									<p class="nickName-check-msg"></p>																
								</td>
							</tr>
							<tr>
								<td><label for="pw">비밀번호<sup>*</sup></label></td>
								<td class="td-2"><input type="password" name="memberPw"
									id="pw" required aria-required="true"
									placeholder="(영문 대소문자/숫자/특수문자(!,@,#,$,%) 중 2가지 이상 조합, 8~12자)" maxlength="13">
									</td>
							</tr>
							<tr>
								<td>
								</td>
								<td class="check-msg">
									<p class="pw-check-msg"></p>
								</td>
							</tr>
							<tr>
								<td><label for="pwRe">비밀번호확인<sup>*</sup></label></td>
								<td class="td-2"><input type="password" name="memberPwRe"
									id="pwRe" required aria-required="true" maxlength="13">
								</td>
							</tr>
							<tr >
								<td>
								</td>
								<td class="check-msg">
									<p class="pwRe-check-msg"></p>
								</td>
							</tr>
							<tr>
								<td><label for="name">이름<sup>*</sup></label></td>
								<td class="td-2"><input type="text" name="memberName"
									id="name" required aria-required="true" maxlength="10"></td>
							</tr>
							<tr>
								<td><label for="gender">성별<sup>*</sup></label></td>
								<td class="td-2"><input type="radio" name="memberGender"
									id="m" value="남" required aria-required="true"> <label
									for="m">남자</label> <input type="radio" name="memberGender"
									id="f" value="여" required aria-required="true"> <label
									for="f">여자</label></td>
							</tr>
							<tr>
								<td><label for="phone">전화번호<sup>*</sup></label></td>
								<td class="td-2 phone-insert">
								<input type="text" name="phone" id="phone" class="phone1" required aria-required="true" maxlength="3" placeholder="010">
								<span class="dash">-</span>
								<input type="text" name="phone" id="phone" class="phone2" required aria-required="true" maxlength="4" placeholder="0000">
								<span class="dash">-</span>
								<input type="text" name="phone" id="phone" class="phone3" required aria-required="true" maxlength="4" placeholder="0000">
								</td>
							</tr>
							<tr>
								<td><label for="address">주소<sup>*</sup></label></td>
								<td class="td-2"><input type="text" name="memberAddr"
									id="address" readonly>
									<button type="button" class="address-check-btn" id="searchBtn">주소 검색</button>
								</td>
							</tr>
							<tr>
								<td></td>
								<td class="detail-addr">
									<input type="text" name="memberAddr" id="addrDetail" placeholder="상세주소">							
								</td>
							</tr>
							<tr>
								<td colspan="3"><input type="submit" class="join-accept"
									value="회원가입"></input></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="/common/footer"></th:block>
</body>
<script>
$("#emailLocal").on("change",function() {
	$(".email-check-msg").removeClass("valid").removeClass("invalid");
	const memberId = $(this).val();
	const emailReg = /^[가-힣a-zA-Z0-9]{4,20}$/;
	if (emailReg.test(memberId)) {
		$.ajax({
			url : "/member/ajaxCheckEmail",
			type : "get",
			data : {memberId : memberId},
			success : function(data) {
				if(data == 0){
				$(".email-check-msg").text("사용 가능한 이메일 입니다.");
				$(".email-check-msg").addClass("valid").remove("invalid");
			}else{
				$(".email-check-msg").text("이미 사용중인 이메일 입니다.");
				$(".email-check-msg").addClass("invalid");		
				}
			},
			error : function() {
				console.log("에러")
			}
		});
	} else {
		$(".email-check-msg").text(
				"(영문 대소문자/숫자/한글 중 2가지 이상 조합이 필요합니다. (4~20자 이내");
		$(".email-check-msg").addClass("invalid");
	}
});

	let mailCode = null;
	$("#sendBtn").on("click",function(){
		const receiver = $("#emailLocal").val()+"@"+$("#emailDomain").val();
		console.log(receiver);
		if($("#emailLocal").val() == "" && $("#emailDomain").val() == ""){
			swal({
				title : "아이디(이메일)",
				text : "입력해주세요.",
				icon : "warning"
			})
			return;
			
		}else if($("#emailLocal").val() == ""){
			swal({
				title : "아이디(이메일)",
				text : "입력해주세요.",
				icon : "warning"
			})
			return;
			
			
		}else if($("#emailDomain").val() == ""){
			swal({
				title : "아이디(이메일)",
				text : "입력해주세요.",
				icon : "warning"
			})
			return;
			
		}
		$.ajax({
			url : "/member/sendCode",
			data : {receiver : receiver},
			type : "post",
			success : function(data){
				console.log(data);
				if(data == "illegalemail"){
					swal({
						title : "이메일이 없습니다.",
						text : "회원가입하시겠습니까?",
						icon : "error"
					});
				}
				else{
					
				console.log(data);
				mailCode = data;
				$("#auth").show();
				authTime();
				}
			},
			error : function(){
				console.log("에러");
			}
		});
	});
	let intervalId = null;
	function authTime(){
		$("#timeZone").html("<span id='min'>3</span> : <span id='sec'>00</span>");
		intervalId = window.setInterval(function(){
			const min = $("#min").text();
			const sec = $("#sec").text();
			if(sec == "00"){
				//0초 다음은 분을 내려야 하므로
				if(min == "0"){
					window.clearInterval(intervalId);
					mailCode = null;
					$("#authMsg").text("인증시간이 만료되었습니다.");
					$("#authMsg").css("color","red");
					
				}else{
					const newMin = Number(min) - 1;
					$("#min").text(newMin);
					$("#sec").text(59);						
				}
			}else{
				//0초가 아니면 초를 내리면 됨
				const newSec = Number(sec) - 1;
				if(newSec < 10){
					$("#sec").text("0"+newSec);
				}else{
					$("#sec").text(newSec);						
				}
			}
		},1000);
	}
	$("#authBtn").on("click",function(){
		const authCode = $("#authCode").val();
		if(authCode == mailCode){
				alert("인증완료");
			$("#timeZone").remove();
			

		}else{
			$("#authMsg").text("인증번호를 확인하세요.");
			$("#authMsg").css("color","red");
			
		}
	});
	
	const select = document.querySelector(".email-choice");
	select.addEventListener("change", function() {
		const input = document.querySelector("[name=memberId2]");
		input.value = select.value;
	});
	
	$("#nickName").on("change",function() {
				$(".nickName-check-msg").removeClass("valid").removeClass("invalid");
				const memberNickName = $(this).val();
				const nicknameReg = /^[가-힣a-zA-Z0-9]{4,20}$/;
				if (nicknameReg.test(memberNickName)) {
					$.ajax({
						url : "/member/ajaxCheckNickname",
						type : "get",
						data : {memberNickName : memberNickName},
						success : function(data) {
							if(data == 0){
							$(".nickName-check-msg").text("사용 가능한 닉네임 입니다.");
							$(".nickName-check-msg").addClass("valid").remove("invalid");
						}else{
							$(".nickName-check-msg").text("이미 사용중인 닉네임 입니다.");
							$(".nickName-check-msg").addClass("invalid");		
							}
						},
						error : function() {
							console.log("에러")
						}
					});
				} else {
					$(".nickName-check-msg").text(
							"(영문 대소문자/숫자/한글 중 2가지 이상 조합이 필요합니다. (4~20자 이내");
					$(".nickName-check-msg").addClass("invalid");
				}
			});
							
		$("#pw").on("keyup",function(){
			$(".nickName-check-msg").removeClass("valid").removeClass("invalid").text("");
			    const pwValue = $(this).val();
			    const regArr = [
			        /^.{8,12}$/,
			        /[A-Z]/,
			        /[a-z]/,
			        /[0-9]/,
			        /[!@#$%]/
			    ];
			    let ok = 0;
			    for(let i=0;i<regArr.length;i++){
			        const check = regArr[i].test(pwValue);
			        if(check){
			            ok++;
			        }
			    }
			    if(ok===5){
			    	 $(".pw-check-msg").text("사용가능한 비밀번호 입니다.");
			            $(".pw-check-msg").remove("invalid");
			            $(".pw-check-msg").addClass("valid");
			    }else{
			    	$(".pw-check-msg").text("영문 대소문자/숫자/특수문자(!@#$%) 조합이 필요합니다 (8~12자이내)");
		            $(".pw-check-msg").addClass("invalid");
			    }
			});

	$("#pwRe").on("change", function() {
		$(".pw-check-msg").removeClass("valid").removeClass("invalid").text("");
		$(".pwRe-check-msg").removeClass("valid").removeClass("invalid");
		const pwValue = $("#pw").val();
		const pwReValue = $("#pwRe").val();
		if (pwValue == pwReValue) {
			$(".pwRe-check-msg").text("비밀번호가 일치합니다.");
			$(".pwRe-check-msg").addClass("valid");
		} else {
			$(".pwRe-check-msg").text("비밀번호가 일치하지않습니다.");
			$(".pwRe-check-msg").addClass("invalid");
		}
	});
	
	$("#name").on("change",function(){
		$(".pwRe-check-msg").removeClass("valid").removeClass("invalid").text("");
	});
	
	$("#searchBtn").on("click", function(){
    
	    new daum.Postcode({
	        oncomplete: function(data) {
	        	$("#address").val(data.roadAddress);
	            $("#addrDetail").focus();
	        },
	        onclose: function(state) {
	            if(state === 'FORCE_CLOSE'){
	            } else if(state === 'COMPLETE_CLOSE'){
	            }
	        }
	    }).open();
	});

	///입력한 숫자만 허용
	document.querySelectorAll('.phone1, .phone2, .phone3').forEach(function(input) {
    input.addEventListener('input', function() {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
});
	
	function test(){
		$(".input-box").click();
	}
	function authFunction(obj){
		$(".input-box").show().submit();
	}
</script>
</html>