<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이 페이지</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="/css/minihomepage.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/font.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/summernote/summernote-lite.js"></script>
<script src="/summernote/lang/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/summernote/summernote-lite.css">
<script src="/js/sweetalert.min.js"></script>
</head>
<style>
 .profile-text> textarea{
 	width: 100%;
    height: 180px;
    border: none;
    resize: none;
    padding: 0;
    overflow: hidden;
 }
 .profile-image-img{
 	width: 100%;
 	height: 230px;
 }
 .follow-btn{
 	display: flex;
 	justify-content: center;
 	align-content: center;
 	padding-bottom: 5px;
 }
</style>
<body>

	<div class="bookcover">
	<div class="bookdot">
		<div class="page">
			<div class="profile-container">
				<div class="header profile-title">
					TOTAL <span class="color-red">28</span>
				</div>
				<div class="box profile-box">
					<form action="/member/profile" method="POST" name="myPageFrm" id="profileFrm" enctype="multipart/form-data">

                    <div class="profile-image-area">
                            <img class="profile-image-img" th:src="@{/member/}+${member.profilePhoto}" id="profileImage">
                    </div>
                    <div class="profile-btn-area">
                        <label for="imageInput">이미지 선택</label>
                        <input type="file" name="profilePhoto" id="imageInput" accept=".jpg,.png,.jpeg" onchange="submitFunction(this)">
                    </div>
                    </form>
					<div class="profile-text">
						<th:block th:if="${session.member !=null && session.member.memberNo != member.memberNo}">
							<textarea id="profileContent" name="profileContent" placeholder="자유롭게 전하고싶은 메세지를 적어주세요..♥"
								readonly></textarea>
						</th:block>
						<th:block th:if="${session.member.memberNo == member.memberNo}">
							<textarea id="profileContent" name="profileContent"
								placeholder="자유롭게 전하고싶은 메세지를 적어주세요..♥"></textarea>
						</th:block>
					</div>
					<div class="profile-username">
						<span style="color: #0f1b5c" th:text="${session.member.memberName}"></span>(♪♬)
					</div>
					<div class="follow-btn-content">
						<form action="/friend" method="post">
							<div class="follow-btn">
								<button type="button">일촌하기</button>
							</div>
							<div class="follow-btn">
								<button type="button">일촌목록</button>
							</div>
						</form>
					</div>	
					</div>
			</div>
			<div class="content-container">
				<div class="header content-title">
					<div class="content-title-name" th:text="${session.member.memberName}+님의홈피"></div>
				</div>
				<div class="box content-box">
	<div class="content-container">
		<div class="header1 content-title">
			<div class="content-title-name"></div>
		</div>
		<div class="box content-box">
			<div class="box-title">Updated news ></div>
			<div class="news-flex-box">
				<div class="news-box">
					<div class="news-row" th:each="b : ${board}">
						<div class="news-category category-pic">사진첩</div>
						<div class="news-title" th:text="${b.boardTitle}"></div>
					</div>
					<div class="news-row" th:each="p : ${photo}">
						<div class="news-category category-post">게시판</div>
						<div class="news-title" th:text="${p.photoTitle}"></div>
					</div>
				</div>
			</div>
			<div class="swiper picture-room">
				<!-- Additional required wrapper -->
				<div class="box-title">추억이 방울방울 ></div>
				<div class="swiper-wrapper">
					<!-- Slides -->
					<div class="swiper-slide slide-image" >
						<a href="javascript:void(0)"> <img src="/image/cyworld1.png"
							alt="">
						</a>
					</div>
					<div class="swiper-slide slide-image">
						<a href="javascript:void(0)"> <img src="/image/cyworld2.png"
							alt="">
						</a>
					</div>
					<div class="swiper-slide slide-image">
						<a href="javascript:void(0)"> <img src="/image/cyworld2.png"
							alt="">
						</a>
					</div>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>
				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
	<th:block th:include="/common/bottom"></th:block>
</body>
<script>
	function submitFunction(obj){
		$("#profileFrm").submit();
	}

	document.addEventListener('DOMContentLoaded', function () {
		var textarea = document.getElementById('profileContent');
			textarea.addEventListener('input', function () {
					var maxHeight = textarea.clientHeight;
					var scrollHeight = textarea.scrollHeight;

					if (scrollHeight > maxHeight) {
						// 문자 추가 방지
						textarea.value = textarea.value.slice(0, textarea.value.length - 1);
					}
			});
		});
	

</script>
</html>