<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>개인정보처리 방법</title>
</head>
<body>
	<th:block th:include="/common/header"></th:block>
		<div class="privacy-all-wrap">
			<div class="privacy-header">
			<h1>개인정보처리방침</h1>
			</div>
			<div class="section-box">
				<span class="section-num">01</span>
			</div>
			<div class="section-content">
				<h3>개인정보처리방침의 의의</h3>
				<ul>
					<li>
					는 본 개인정보처리방침은 개인정보보호법을 기준으로 작성하되,  내에서의 이용자 개인정보 처리 현황을 최대한 알기 쉽고 상세하게 설명하기 위해 노력하였습니다.
					</li>
					<li>
					개인정보처리방침은 다음과 같은 중요한 의미를 가지고 있습니다.
					</li>
					<li>
					가 어떤 정보를 수집하고, 수집한 정보를 어떻게 사용하며, 필요에 따라 누구와 이를 공유(‘위탁 또는 제공’)하며, 이용목적을 달성한 정보를 언제·어떻게 파기하는지 등 ‘개인정보의 한살이’와 관련한 정보를 투명하게 제공합니다.
					</li>
					<li>
					정보주체로서 이용자는 자신의 개인정보에 대해 어떤 권리를 가지고 있으며, 이를 어떤 방법과 절차로 행사할 수 있는지를 알려드립니다. 또한, 법정대리인(부모 등)이 만14세 미만 아동의 개인정보 보호를 위해 어떤 권리를 행사할 수 있는지도 함께 안내합니다.
					</li>
					<li>
					개인정보 침해사고가 발생하는 경우, 추가적인 피해를 예방하고 이미 발생한 피해를 복구하기 위해 누구에게 연락하여 어떤 도움을 받을 수 있는지 알려드립니다.
					</li>
					<li>
					그 무엇보다도, 개인정보와 관련하여 와 이용자간의 권리 및 의무 관계를 규정하여 이용자의 ‘개인정보자기결정권’을 보장하는 수단이 됩니다.
					</li>
				</ul>
			</div>
			<div class="section-box">
				<span class="section-num">02</span>
			</div>
			<div class="section-content">
				<h3>수집하는 개인정보</h3>
				<ul>
					<li>
					이용자는 회원가입을 하지 않아도 정보 검색, 뉴스 보기 등 대부분의  서비스를 회원과 동일하게 이용할 수 있습니다. 이용자가 메일, 캘린더, 카페, 블로그 등과 같이 개인화 혹은 회원제 서비스를 이용하기 위해 회원가입을 할 경우, 는 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다.
					</li>
					<li>
					회원 가입 시 필수항목으로 아이디, 비밀번호, 이름, 생년월일, 성별, 휴대전화번호를, 선택항목으로 본인확인 이메일주소를 수집합니다. 실명 인증된 아이디로 가입 시, 암호화된 동일인 식별정보(CI), 중복가입 확인정보(DI), 내외국인 정보를 함께 수집합니다. 만14세 미만 아동의 경우, 법정대리인의 동의를 받고 있으며, 휴대전화번호 또는 아이핀 인증을 통해 법정대리인의 동의를 확인하고 있습니다. 이 과정에서 법정대리인의 정보(법정대리인의 이름, 중복가입확인정보(DI), 휴대전화번호(아이핀 인증인 경우 아이핀번호))를 추가로 수집합니다.
					</li>
					<li>
					비밀번호 없이 회원 가입 시에는 필수항목으로 아이디, 이름, 생년월일, 휴대전화번호를, 선택항목으로 비밀번호를 수집합니다.
					</li>
					<li>
					단체 회원가입 시 필수 항목으로 단체아이디, 비밀번호, 단체이름, 이메일주소, 휴대전화번호를, 선택항목으로 단체 대표자명을 수집합니다.
					</li>
				</ul>
			</div>
			<div class="section-box">
				<span class="section-num">03</span>
			</div>
			<div class="section-content">
				<h3>수집한 개인정보의 이용</h3>
				<ul>
					<li>
					회원 가입 의사의 확인, 연령 확인 및 법정대리인 동의 진행, 이용자 및 법정대리인의 본인 확인, 이용자 식별, 회원탈퇴 의사의 확인 등 회원관리를 위하여 개인정보를 이용합니다.
					</li>
					<li>
					콘텐츠 등 기존 서비스 제공(광고 포함)에 더하여, 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 이용자간 관계의 형성, 지인 및 관심사 등에 기반한 맞춤형 서비스 제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선 등을 위하여 개인정보를 이용합니다. 신규 서비스 요소의 발굴 및 기존 서비스 개선 등에는 정보 검색, 다른 이용자와의 커뮤니케이션, 콘텐츠 생성·제공·추천, 상품 쇼핑 등에서의 인공지능(AI) 기술 적용이 포함됩니다.
					</li>
					<li>
					법령 및  이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정 등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영을 위하여 개인정보를 이용합니다.
					</li>
					<li>
					유료 서비스 제공에 따르는 본인인증, 구매 및 요금 결제, 상품 및 서비스의 배송을 위하여 개인정보를 이용합니다.
					</li>
					<li>
					이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션 목적으로 개인정보를 이용합니다.
					</li>
					<li>
					서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및 통계에 따른 맞춤 서비스 제공 및 광고 게재 등에 개인정보를 이용합니다.
					</li>
					<li>
					안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해 개인정보를 이용합니다.
					</li>
					<li>
					는 수집한 개인정보를 특정 개인을 알아볼 수 없도록 가명처리하여 통계작성, 과학적 연구, 공익적 기록 보존 등을 위하여 처리할 수 있습니다. 이 때 가명정보는 재식별되지 않도록 추가정보와 분리하여 별도 저장·관리하고 필요한 기술적·관리적 보호조치를 취합니다
					</li>
				</ul>
			</div>
			<div class="section-box">
				<span class="section-num">04</span>
			</div>
			<div class="section-content">
				<h3>개인정보의 제공 및 위탁</h3>
				<ul>
					<li>
					는 원칙적으로 이용자 동의 없이 개인정보를 외부에 제공하지 않습니다.
					</li>
					<li>
					는 이용자의 사전 동의 없이 개인정보를 외부에 제공하지 않습니다. 단, 이용자가 외부 제휴사의 서비스를 이용하기 위하여 개인정보 제공에 직접 동의를 한 경우, 그리고 관련 법령에 의거해 에 개인정보 제출 의무가 발생한 경우, 이용자의 생명이나 안전에 급박한 위험이 확인되어 이를 해소하기 위한 경우에 한하여 개인정보를 제공하고 있습니다.
					</li>
				</ul>
			</div>
			<div class="section-box">
				<span class="section-num">05</span>
			</div>
			<div class="section-content">
				<h3>개인정보의 파기</h3>
				<ul>
					<li>
					회사는 원칙적으로 이용자의 개인정보를 회원 탈퇴 또는 이용목적 달성 시 지체없이 파기하고 있습니다.
					</li>
					<li>
					단, 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우, 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다.
					</li>
					<li>
					이용자에게 개인정보 보관기간에 대해 회원가입 시 또는 서비스 가입 시 동의를 얻은 경우는 아래와 같습니다.
					</li>
					<li>
					부정 가입 및 이용 방지 부정 이용자의 DI(만 14세 미만의 경우 법정대리인 DI) : 탈퇴일로부터 6개월 보관 탈퇴한 이용자의 휴대전화번호(휴대전화 인증 시, 복호화가 불가능한 일방향 암호화(해시)하여 보관), DI(아이핀 인증 시) : 탈퇴일로부터 6개월 보관
					</li>
					<li>
					 서비스 제공을 위한 본인 확인 통신사 정보, 휴대전화번호 : 수집 시점으로부터 1년 보관
					</li>
					<li>
					전자상거래 등에서의 소비자 보호에 관한 법률, 전자문서 및 전자거래 기본법, 통신비밀보호법 등 법령에서 일정기간 정보의 보관을 규정하는 경우는 아래와 같습니다. 는 이 기간 동안 법령의 규정에 따라 개인정보를 보관하며, 본 정보를 다른 목적으로는 절대 이용하지 않습니다.
					</li>
					<li>
					회원탈퇴, 서비스 종료, 이용자에게 동의받은 개인정보 보유기간의 도래와 같이 개인정보의 수집 및 이용목적이 달성된 개인정보는 재생이 불가능한 방법으로 파기하고 있습니다. 법령에서 보존의무를 부과한 정보에 대해서도 해당 기간 경과 후 지체없이 재생이 불가능한 방법으로 파기합니다.
					</li>
				</ul>
			</div>
			<div class="section-box">
				<span class="section-num">06</span>
			</div>
			<div class="section-content">
				<h3>이용자 및 법정대리인의 권리와 행사 방법</h3>
				<ul>
					<li>
					이용자는 언제든지 ‘INSIDEMIRROR 내정보 > 회원정보’에서 자신의 개인정보를 조회하거나 수정ㆍ삭제할 수 있으며, 자신의 개인정보에 대한 열람을 요청할 수 있습니다.
					</li>
					<li>
					이용자는 언제든지 개인정보 처리의 정지를 요청할 수 있으며, 법률에 특별한 규정이 있는 등의 경우에는 처리정지 요청을 거부할 수 있습니다.
					</li>
					<li>
					이용자는 언제든지 ‘회원탈퇴’ 등을 통해 개인정보의 수집 및 이용 동의를 철회할 수 있습니다.
					</li>
					<li>
					만 14세 미만 아동의 경우, 법정대리인이 아동의 개인정보를 조회하거나 수정 및 삭제, 처리정지, 수집 및 이용 동의를 철회할 권리를 가집니다.
					</li>
					<li>
					이용자가 개인정보의 오류에 대한 정정을 요청한 경우, 정정을 완료하기 전까지 해당 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
					</li>
					<li>
					이용자 및 법정대리인의 권리는 ‘회원정보’ 페이지 등에서 직접 처리하거나, ‘문의하기‘를 통해 요청할 수 있습니다. 이용자 개인의 서비스 이용활동 및 동의 내역에 따라 제3자에게 제공한 내역은 ‘개인정보 이용현황’ 페이지에서 확인하고 동의 철회를 요청할 수 있습니다.
					</li>
					<li>
					참고로 는 '온라인 맞춤형 광고 개인정보보호 가이드 라인'에 따른 이용자 권리보장을 위한 페이지를 제공하고 있습니다.
					</li>
				</ul>
			</div>
			<div class="section-box">
				<span class="section-num">07</span>
			</div>
			<div class="section-content">
				<h3>본 개인정보처리방침의 적용 범위</h3>
				<ul>
					<li>
					에 링크되어 있는 다른 회사의 웹사이트에서 개인정보를 수집하는 경우, 이용자 동의 하에 개인정보가 제공된 이후에는 본 개인정보처리방침이 적용되지 않습니다.
					</li>
				</ul>
			</div>
		</div>
	<th:block th:include="/common/footer"></th:block>
</body>
</html>