<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>청소년 보호정책</title>
</head>
<style>
	body{
		background-color:#ccc;
	}
	li{
		  list-style-type: none;
	}
	.wrap-all{
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 10px;
		border: 1px solid #ddd;
	}
	h2{
		color: #ccc;
	}
	.wrap-all>div{
		padding: 30px;
	}
	.policy-header{
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
<body>
	<th:block th:include="/common/header"></th:block>
		<div class="wrap-all">
			<div class="proposalGuide-all-wrap">
				<div class="policy-header">
					<h1>청소년보호정책</h1>
				</div>
				<div class="section-box">
					<h2 class="section-num">01</h2>
					<div class="section-content">
						<h3>유해정보에 대한 청소년접근제한 및 관리조치</h3>
						<ul>
							<li>
							회사는 청소년이 아무런 제한장치 없이 청소년 유해정보에 노출되지 않도록 별도의 인증장치를 마련, 적용하며 청소년 유해정보가 노출되지 않기 위한 예방차원의 조치를 강구합니다.
							</li>
						</ul>
					</div>
				</div>
				<div class="section-box">
					<h2 class="section-num">02</h2>
					<div class="section-content">
						<h3>유해정보로부터의 청소년보호를 위한 업무 담당자 교육 시행</h3>
						<ul>
							<li>
							회사는 정보통신업무 종사자를 대상으로 청소년보호 관련 법령 및 제재기준, 유해정보 발견시 대처방법, 위반사항 처리에 대한 보고절차 등을 교육하고 있습니다.
							</li>
						</ul>
					</div>
				</div>
				<div class="section-box">
					<h2 class="section-num">03</h2>
					<div class="section-content">
						<h3>유해정보로 인한 피해상담 및 고충처리</h3>
						<ul>
							<li>
							회사는 청소년 유해정보로 인한 피해상담 및 고충처리를 위한 전문인력을 배치하여 그 피해가 확산되지 않도록 하고 있습니다. 이용자 분들께서는 하단에 명시한 "4. 인사이드미러 청소년보호 책임자 및 담당자의 소속, 성명 및 연락처" 항을 참고하여 전화나 메일을 통하여 피해상담 및 고충처리를 요청할 수 있습니다.
							</li>
						</ul>
					</div>
				</div>
				<div class="section-box">
					<h2 class="section-num">04</h2>
					<div class="section-content">
						<h3>인사이드미러 청소년보호 책임자 및 담당자의 소속, 성명 및 연락처</h3>
						<ul>
							<li>
							인사이드미러는 청소년들이 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다.
							</li>
							<li>
							청소년 보호 책임자
							</li>
							<li>
							이름 : 김새봄
							</li>
							<li>
							소속 : 정책
							</li>
							<li>
							메일 : admin@insidemirror.com
							</li>
							<li>
							직위 : 책임리더
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<th:block th:include="/common/footer"></th:block>
</body>
</html>