<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>GuestBook</title>
    <link rel="stylesheet" href="/05.insidemirror/static/minihomepage.css">
    <link rel="stylesheet" href="/05.insidemirror/static/layout.css">
    <link rel="stylesheet" href="/05.insidemirror/static/font.css">
</head>
<body>
	<div class="bookcover">
      <div class="bookdot">
        <div class="page">
          <div class="profile-container">
            <div class="header profile-title font-neo">
              <span class="color-red"> 28</span>
            </div>
            <div class="box profile-box">
              <div class="profile-image">
                <img class="profile-image-img" src="./static/image/cyworld1.png">
              </div>
              <div class="profile-text font-kyobohand">
                ㄴr는.. 오늘도.. 눈물을.. 흘린ㄷr..★
              </div>
              <div class="profile-username font-kyobohand">
                <span style="color: #0f1b5c"></span> (♪♬)
              </div>
              <div class="profile-dropdown">
                <div class="dropdown-button">
                  <div class="dropdown-title">파도타기</div>
                  <div class="triangle-down"></div>
                </div>
                <div class="dropdown-content">
                  <a href="#" target="_blank">ㅁㅁㅁ의 홈피</a>
                  <a href="#" target="_blank">ㅁㅁㅁ의 홈피</a>
                  <a href="#" target="_blank">ㅁㅁㅁ의 홈피</a>
                </div>
              </div>
            </div>
          </div>
          <div class="content-container">
            <div class="header content-title">
                <div class="content-title-name"></div>
                <div class="content-title-url"></div>
            </div>
            <div class="box content-box">
                <div class="guestbook-scrollbox">
                    <div class="guestbook-box">
                        <div class="guestbook-title">No. 1
                            <span style="color :#5c3ccf"> 지니</span>
                            <i class="fas fa-home" aria-hidden="true"></i>
                        <div class="guestbook-date"> (2024.00.00 00:00)</div>
                        </div>
                        <div class="guestbook-contents">
                            <div class="guestbook-image background-1">
                                <img src="./static/images/profile1.png" alt="프로필 사진">
                            </div>
                            <div class="guestbook-text">
                                <p>이 글귀 좋더라.. 읽어봐..<br><br><br>울ㅈ1않ㄱㅣ<br>아프ㅈ1않ㄱㅣ<br>씩씩ㅎrㄱㅣ<br>억ㅈㅣ로ㄹr도 웃ㄱㅣ<br>ㅌ1 ㄴㅐㅈㅣ 말ㄱㅣ<br>.<br>.<br>.<br>오늘도 괜찮은 듯<br>그렇ㄱㅔ ㅈ1ㄴㅐㄱㅣ</p>
                            </div>
                        </div>
                    </div>

                    <div class="guestbook-box">
                    <div class="guestbook-title">No. 2 
                        <span style="color : #5c3ccf">L.O.V.E. </span>
                        <i class="fas fa-home" aria-hidden="true"></i>
                    <div class="guestbook-date">(2024.00.00 00:00)</div>
                    </div>
                    <div class="guestbook-contents">
                        <div class="guestbook-text">
                            <p>너 내가 보내준 인소 봤냐 이 부분 개쩐다<br><br><br>"누구한테 문자하냐?"<br>"사랑하는 사람한테"<br><br><br>"나한테 문자를 왜 보내"</p>
                        </div>
                    </div>
                    </div>
                    <div class="guestbook-box">
                    <div class="guestbook-title">No. 3 
                        <span style="color :#5c3ccf">F.O.R.E.V.E.R. </span>
                        <i class="fas fa-home" aria-hidden="true"></i>
                    <div class="guestbook-date">(2024.00.00 00:30)</div>
                    </div>
                    <div class="guestbook-contents">
                        <div class="guestbook-text">
                            <p>야 내일 캔모아 갈래?</p>
                        </div>
                    </div>
                    </div>
                    <div class="guestbook-box">
                    <div class="guestbook-title">No. 4
                        <span style="color :#5c3ccf">징징이 </span>
                        <i class="fas fa-home" aria-hidden="true"></i>
                    <div class="guestbook-date">(2024.00.00 00:30)</div>
                    </div>
                    <div class="guestbook-contents">
                        <div class="guestbook-text">
                            <p>나랑 찍은 사진은 왜 안 올려 ㅡ.ㅡ</p>
                        </div>
                    </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="menu-container">
            <div class="menu-button">
                <a href="#"><button>홈</button></a>
                <a href="#"><button>자유게시판</button></a>
                <a href="#"><button>사진첩</button></a>
                <a href="guestbook.html"><button>방명록</button></a>
                <a href="#"><button>선물가게</button></a>
                <a href="#"><button>구매목록</button></a>
                <a href="#"><button>일촌관리</button></a>
                <a href="#"><button>고객센터</button></a>
                <a href="#"><button>즐겨찾기</button></a>
            </div>
          </div>
    	</div>
	</div>
</div>
</body>
</html>